@import "_custom_bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";
// @import "_custom_vuetify.scss";

@import "./BC_Fonts/fonts";
$typography-font-family : 'BCSans', sans-serif !default;

$primary   : #027BE3;
$secondary : #FFA69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$orange    : #ee7410;
$blue      : #21476d;
$gov-gold  : #fcba19;
