{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
    An application for prohibition {{ prohibition_number }} has already been created.
    You cannot submit another application to make changes to the one you already submitted.
{% endblock %}

{% block primary_text_2 %}
    If you must make changes to the application call RoadSafetyBC’s
    Appeals Registry at 1-855-387-7747 and select option 5.
{% endblock %}

{% block primary_text_3 %}{% endblock %}
{% block primary_text_4 %}{% endblock %}

{% block callout %}You must call to make changes to your application.{% endblock %}
{% block timeline %}apply.png{% endblock %}

