{% extends "email_alert_base.html" %}

{% block salutation %}Appeals Registry,{% endblock %}

{% block primary_text_1 %}
{{ full_name }}, the applicant of prohibition {{ prohibition_number }},
did not schedule the review within 24 hours of payment.
{% endblock %}

{% block primary_text_2 %}
<p>Receipt details</p>
<ul>
    <li>Number: {{ receipt_number }}</li>
    <li>Amount: {{ receipt_amount }}</li>
    <li>Date: {{ receipt_date }}</li>
</ul>
{% endblock %}

{% block primary_text_3 %}
We have not sent this email to the applicant.
{% endblock %}

{% block primary_text_4 %}{% endblock %}
{% block callout_block %}{% endblock %}
{% block timeline_image %}{% endblock %}

{% block sign_off %}{% endblock %}

{% block email_not_monitored %}{% endblock %}