{% extends "email_alert_base.html" %}

{% block primary_message %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        Your driving prohibition {{ prohibition_number }} isn’t in our system
        so your online application for review can’t go ahead.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        You will need to apply in-person for a review:
        <ol>
            <li>
                Visit <a href="https://www.icbc.com/locators/Pages/default.aspx?type=1&subtype=0">ICBC</a>,
                ServiceBC or an appointed agent right away
                to meet the application deadline. Walk-in visits are limited so arrive early.
            </li>
            <li>
                Take your Notice of Prohibition with you.
            </li>
            <li>
                If your licence was not surrendered to police, bring it with you.
            </li>
            <li>
                Complete an Application for a Review of a Driving Prohibition.
            </li>
        </ol>
    </td>
</tr>
{% endblock %}

{% block callout %}{% include 'partials/callout.html' %}{% endblock %}
{% block timeline %}{% include 'partials/timeline_image.html' %}{% endblock %}
{% block page_title %}{{ subject }}{% endblock %}
{% block subject %}{% include 'partials/subject_row.html' %}{% endblock %}
{% block salutation %}{% include 'partials/salutation_row.html' %}{% endblock %}
{% block thank_you_road_safety %}{% include 'partials/thank_you_road_safety_row.html' %}{% endblock %}
{% block email_not_monitored %}{% include 'partials/call_ICBC.html' %}{% endblock %}
