{% extends "email_alert_base.html" %}

{% block primary_message %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        Your application for a review of driving prohibition {{ prohibition_number }} was
        received on {{ date_received }}.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        We’re now checking to determine if you qualify for a review.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        We’ll send you an email shortly about whether you qualify for a review.
    </td>
</tr>
{% endblock %}

{% block page_title %}{{ subject }}{% endblock %}
{% block subject %}{% include 'partials/subject_row.html' %}{% endblock %}
{% block salutation %}{% include 'partials/salutation_row.html' %}{% endblock %}
{% block you_must_not_drive %}{% include 'partials/you_must_not_drive_row.html' %}{% endblock %}
{% block thank_you_road_safety %}{% include 'partials/thank_you_road_safety_row.html' %}{% endblock %}
{% block email_not_monitored %}{% include 'partials/email_not_monitored_row.html' %}{% endblock %}
