{% extends "email_alert_base.html" %}

{% block salutation %}Appeals Registry,{% endblock %}

{% block primary_text_1 %}
VIPS does not have three dates currently available to offer prohibition {{ prohibition_number }}
a review within 17 days of the date of service.
{% endblock %}

{% block primary_text_2 %}
We have not sent this email to the applicant.
{% endblock %}

{% block primary_text_3 %}{% endblock %}

{% block primary_text_4 %}{% endblock %}
{% block callout_block %}{% endblock %}
{% block timeline_image %}{% endblock %}

{% block sign_off %}{% endblock %}

{% block email_not_monitored %}{% endblock %}