{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
Your driving prohibition {{ prohibition_number }} issued on {{ date_of_service }} isn’t in our system yet.
{% endblock %}

{% block primary_text_2 %}
<ol>
   <li>
      We'll check for 3 days from the date the prohibition was served. The date we check is the
       one you entered in the prohibition review application. Please be sure you entered
       the date and prohibition number correctly.
   </li>
   <li>
       When we find the prohibition, we’ll send you an email with the next step to continue
       the application process <strong>OR</strong>
   </li>
   <li>
       If we don’t find it, we’ll send you an email advising you
       to apply in-person at
       <a href="https://www.icbc.com/driver-licensing/visit-dl-office/Pages/Book-a-knowledge-test-and-other-services.aspx">ICBC</a>,
       <a href="https://appointments.servicebc.gov.bc.ca/appointment">ServiceBC</a>
       or an appointed agent.
   </li>
</ol>
{% endblock %}

{% block primary_3 %}{% endblock %}
{% block primary_4 %}{% endblock %}

{% block callout %}
You'll be notified if the prohibition can't be found.
{% endblock %}

{% block timeline %}apply.png{% endblock %}
{% block email_not_monitored %}{% include 'partials/call_appeals_registry.html' %}{% endblock %}

