{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
    The prohibition number <strong>OR</strong> last name you entered
    don't match a driving prohibition in our system.
{% endblock %}

{% block primary_text_2 %}
    Please return to the <a href="{{ link_to_application_form }}">
    Notice of Driving Prohibition Application for Review</a>
    and complete the form again with the correct prohibition number or last name.
    <ul>
        <li>
            The prohibition number can be found on the Notice of Driving Prohibition.
        </li>
        <li>
            Enter your last name as it is on your driver's licence.
        </li>
    </ul>
{% endblock %}

{% block primary_text_3 %}
    You can apply also in-person for a review at <a href="{{ link_to_icbc }}">ICBC</a>, or select
    <a href="{{ link_to_service_bc }}">ServiceBC</a> locations or an appointed agent.
{% endblock %}

{% block primary_4 %}{% endblock %}

{% block callout %}You must re-apply within 7 days from the date of prohibition issue.{% endblock %}
{% block timeline %}apply.png{% endblock %}
{% block email_not_monitored %}{% include 'partials/call_appeals_registry.html' %}{% endblock %}
