{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
Your driving prohibition {{ prohibition_number }} was not found and it has been more than 7 days since it was issued.
{% endblock %}

{% block primary_text_2 %}
Your application for a review of the prohibition can't be accepted.
{% endblock %}

{% block primary_3 %}{% endblock %}

{% block primary_4 %}{% endblock %}

{% block callout_block %}{% endblock %}
{% block timeline_image %}{% endblock %}

{% block email_not_monitored %}{% endblock %}


