{% extends "email_alert_base.html" %}

{% block primary_message %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        The prohibition number and last name you entered don’t match a driving prohibition in our system.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        Please return to the Notice of Driving Prohibition Application for Review and
        re-enter the prohibition number and the driver’s name.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        You can find the prohibition number on your Notice of Driving Prohibition.
    </td>
</tr>
{% endblock %}

{% block page_title %}{{ subject }}{% endblock %}
{% block subject %}{% include 'partials/subject_row.html' %}{% endblock %}
{% block salutation %}{% include 'partials/salutation_row.html' %}{% endblock %}
{% block thank_you_road_safety %}{% include 'partials/thank_you_road_safety_row.html' %}{% endblock %}
{% block email_not_monitored %}{% include 'partials/email_not_monitored_row.html' %}{% endblock %}
