{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
    Your oral review has been scheduled for:<br />
    <strong>{{ friendly_review_time_slot }} (Pacific Time)</strong>
{% endblock %}

{% block primary_text_2 %}
    We'll call you at {{phone}}, which is the number you provided.
{% endblock %}

{% block primary_text_3 %}
    We can only change the review date or time in special situations.
    Call RoadSafetyBC's Appeals Registry at 1-855-387-7747 and select option 5.
{% endblock %}

{% block primary_text_4 %}
    We'll email you the police evidence approximately 24 hours after you
    schedule your review. You may receive more than one email.
{% endblock %}

{% block callout %}
    Call us if you have not received the evidence 48 hours before your review.
{% endblock %}

{% block timeline %}disclosure.png{% endblock %}
{% block email_not_monitored %}{% include 'partials/call_appeals_registry.html' %}{% endblock %}
