{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
    Attached is the police evidence the adjudicator will consider in your review.
{% endblock %}

{% block primary_text_2 %}
    We’ll email you instructions on how to provide the adjudicator
    the evidence you wish to be considered in your review.
{% endblock %}

{% block timeline %}disclosure.png{% endblock %}

{% block primary_text_3 %}{% endblock %}
{% block primary_text_4 %}{% endblock %}
{% block callout_block %}{% endblock %}


