{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
   You will need to satisfy RoadSafetyBC that one or more of the review grounds applies to you.
{% endblock %}

{% block primary_text_2 %}
   You can submit evidence and explain why your description of the event differs from that of the police.
{% endblock %}

{% block primary_text_3 %}
   Visit [ link here ] to provide evidence for your review. You can use this link more than once.
{% endblock %}

{% block primary_text_4 %}
    We <strong>only</strong> accept:
    <ul>
        <li>PDF, Word, Excel, text files</li>
        <li>.png, .jpg and .gif image files, and</li>
        <li>.mp3 audio and .mp4 and .mov video files</li>
    </ul>
{% endblock %}

{% block callout %}You must finish providing evidence 2 days before your review.{% endblock %}
{% block timeline %}evidence.png{% endblock %}
{% block email_not_monitored %}{% include 'partials/call_appeals_registry.html' %}{% endblock %}
