{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
Your driving prohibition {{ prohibition_number }} was not found and it has been more than 7 days since it was issued.
{% endblock %}

{% block primary_text_2 %}
    You'll need to apply in-person for a review:
    <ol>
        <li>
            Visiting <a href="{{ link_to_icbc }}">ICBC</a>, select <a href="{{ link_to_service_bc }}">ServiceBC</a>
            locations, or an appointed agent right away to meet the application deadline.
            <ul>
                <li>They can take your application even if your prohibition isn't in the system.</li>
            </ul>
        </li>
        <li>Take your Notice of Prohibition with you.</li>
        <li>Complete an Application for a Review of a Driving Prohibition.</li>
    </ol>
{% endblock %}

{% block primary_3 %}{% endblock %}
{% block callout %}You must apply in-person.{% endblock %}
{% block timeline %}timeline_ul.png{% endblock %}