{% extends "IRP_send_disclosure.html" %}

{% block primary_text_1 %}
    Attached is the police evidence the RoadSafetyBC adjudicator will consider in your review.
{% endblock %}

{% block primary_text_2 %}
You can use it to prepare for your review. The adjudicator will use it with
the information you provide to make the decision about your prohibition.
{% endblock %}

{% block primary_text_3 %}
The adjudicator will consider your driving record in the review.
You can <a href="{{ link_to_get_driving_record }}">get a copy from ICBC</a>.
{% endblock %}

{% block primary_text_4 %}
If more information is provided to RoadSafetyBC, it will also be sent to you.
{% endblock %}
