// define custom colours
$bcgov_blue: #003366;
$bcgov_yellow: #FCBA19;
$bcgov_green: #2E8540;
$bcgov_red: #D8292F;
$bcgov_links: #1A5A96;
$bcgov_background_blue: #38598A;
$bcgov_background_gray: #F2F2F2;

// set global palette
$primary: $bcgov_blue;
$secondary: $bcgov_background_blue;
$success: $bcgov_green;
$danger: $bcgov_red;
$light: $bcgov_background_gray;

// input field text transformations
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}

// set font for creating code 39 barcodes
$font_path: ('~@/fonts');
@font-face {
  font-family: "barcode";
  src: local("barcode"), url($font_path + '/libre-barcode-39-v19-latin-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

// use out-of-box Bootstrap and BootstrapVue styles
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';