<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin-bottom: 20px;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; background: #1A5A96; color: white; text-align: center; font-weight: 500; vertical-align: middle; margin: 0 0 20px 0; padding: 10px 10px 10px 10px;" valign="top">
        {{ callout }}
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; font-weight: 700; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top"></td></tr>