cryptography==3.2
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pika==1.1.0
xmltodict==0.12.0
Werkzeug==0.16.0
requests==2.23.0
iso8601==0.1.12
pytz==2020.1
Cerberus==1.3.2
