ENVIRONMENT =         ""

VIIRP_POD =           ""
VIIRP_NAMESPACE =     ""

API_USERNAME =        ""
API_PASSWORD =        ""
API_URL =             ""

VIPS_URL =            ""
VIPS_USERNAME =       ""
VIPS_PASSWORD =       ""