name: writer-cd

on:
  push:
    branches:
      - master
    paths:
      - python/*.py
      - python/common/**
      - python/writer/**
      - .github/workflows/writer-cd.yml
      - trigger.txt

jobs:
  CD:
    uses: ./.github/workflows/cd-workflow.yml
    with:
      DOCKER_CONTEXT: python
      DOCKER_FILE: python/writer/Dockerfile
      DOCKER_IMAGE_NAME: dh-writer
    secrets: inherit
